@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  text-transform: capitalize;
}
::placeholder {
  text-transform: capitalize;
}
input,
textarea,
select,
option,
.email,
[type="email"],
a[href^="mailto:"] {
  text-transform: none !important;
}
