@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  text-transform: lowercase;
}

body {
  text-transform: capitalize;
}

input,
textarea,
select,
option,
.email,
[type="email"],
a[href^="mailto:"] {
  text-transform: lowercase !important;
}

::placeholder {
  text-transform: capitalize;
}
