@tailwind base;
@tailwind components;
@tailwind utilities;

/* Capitalize all visible text */
body {
  text-transform: capitalize;
}

/* Capitalize all placeholders */
input::placeholder,
textarea::placeholder {
  text-transform: capitalize;
}

/* Keep email fields lowercase */
input[type="email"],
.email,
.email input,
a[href^="mailto:"] {
  text-transform: lowercase !important;
}

/* Keep email placeholder lowercase */
input[type="email"]::placeholder,
.email::placeholder,
.email input::placeholder {
  text-transform: lowercase !important;
}